@font-face {
    font-family: Lato;
    src: url(Lato-Regular.ttf);
}

@font-face {
	font-family: Lato-Bold;
    src: url(Lato-Bold.ttf);
}

div {
    font-family: Lato;
}

div {
	font-family: Lato-Bold;
}

h1{
    font-family: Lato-Bold;
    color: dimgray;
    margin-top: 0.8%;
}

h3{
    font-family: Lato-Bold;
    color: dimgrey;
    font-size: 45px;
    margin-top: 1%;
}

h5{
    font-family: Lato-Bold;
    color: dodgerblue;
    font-size: 25px;
    margin-top: 1%;
	text-decoration: none;
}

h4{
    font-family: Lato-Bold;
    font-size: 29px;
    margin-top: 1%;
}

img{
    margin-top: 1.2%;
}


.jumbotron{
margin-top: 15%;
margin-bottom: 3%;
color: #34495e;
background-color:none !important;
	
}

body {
    background-image: url("realback.png");
    background-repeat: repeat;
}

div.turret-defense{
	font-family: Lato;
	margin-left: 5%;
	margin-right: 34%;
	font-size: 20px !important;
}

div.discord{
	margin-left: 75%;
}



h6{
	font-family: Lato-Bold; 
	margin-left: 10%;
}

h2{
	font-family: Lato-Bold;	
}

div.Game img{
	margin-right: 5%;
	width: 620px;
	height: 400px;
}

div.Logo img{
	margin-right: 5%;
	width: 100px;
	height: 100px;
}

hr { 
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 5%;
    margin-right: 33%;
    border-style: inset;
    border-width: 1px;
} 

.footer {
    background-color: #2c3e50;
    padding: 10px;
    font-family: Lato-Bold;
	width: 100%;
	position: sticky;
	margin-left: auto;
	margin-right: auto; 
	position: relative; 
	min-height: 99%;
}

.infofooter {
    background-color: #34495e;
    padding: 10px;
    font-family: Lato-Bold;
	width: 1140px;
}

.center {
    text-align: center;
    border: 3px solid green;
}

